html {
   margin: 0px;
   height: 100%;
   width: 100%;
   left: 10px; right: 10px;
/*   overflow-x: hidden; */
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(153,218,255,1) 0%, rgba(98,98,240,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(153,218,255,1) 0%, rgba(98,98,240,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(153,218,255,1) 0%, rgba(98,98,240,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(153,218,255,1) 0%, rgba(98,98,240,1) 100%);
background: radial-gradient(ellipse at center, rgba(153,218,255,1) 0%, rgba(98,98,240,1) 100%);
    padding:0%;
}


#button_layout{
     width: 100%;
     height: 60px;
    box-sizing: border-box;
    border: 8px solid green;
    text-align: right;
    background-color: lightblue;
}
.group_save_button{
    position: relative
    margin:auto;
    margin-left: -8px;
    height: 100%;
    width: 100px;
    text-align: center;
    border: 6px solid purple;
    background-color: beige
}

#imageView{
    border: 5px solid black;
    
}

#title_img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
/*    margin-bottom: 100px;*/
/*    margin-right: 150px;*/
/*    padding-right: 30px;*/
/*    padding-bottom: 50px;*/
/*    padding-left: 80px;*/
}

#first_title_layout{
/*    position: absolute*/
    height: 500px;
    width: 100%;
/*    object-fit: cover;*/
/*    background-image: url("../img/triathlon.jpg");*/
/*    left: 200px; right: 200px;*/
}


#poster_img {
    max-width: 100%;
    max-height: 100%;
/*    margin-bottom: 100px;*/
/*    margin-right: 150px;*/
/*    padding-right: 30px;*/
/*    padding-bottom: 50px;*/
/*    padding-left: 80px;*/
}

#personal_image_layout{
/*    position: absolute*/
    padding-top: 125px;
    padding-bottom: 125px;
    text-align: center;
    height: 500px;
    width: 100%;
    margin:0 auto;
    
/*    object-fit: cover;*/
/*    background-image: url("../img/triathlon.jpg");*/
/*    left: 200px; right: 200px;*/
}


.group_style{
    width:60%; 
    margin:0 auto;
    background-color: white;
}
.boder_style{
    width: 100%;
    box-sizing: border-box;
    border: 8px solid green;
    padding-right: 10%;
    padding-left: 10%;
    
}
.header_underline{
    border-bottom: 8px solid black;
}

.header_section{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color:cadetblue;
    color: white;
}
.body_section{
    border: 8px solid cadetblue;
}

/*
.mail_cube3d {
    background: url(mail-cube64.png) no-repeat;
}
.tsc_social_cube64 {
    display: inline-block;
    overflow: hidden;
    text-indent: -999em;
    height: 64px;
    width: 64px;
    text-decoration: none;
    vertical-align: middle;
}
*/



